<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEB1 - </title>
    <link rel="icon" href="data:,">
</head>
<body>
    <h1><a href="/">WEB TOPIC 테이블</a></h1>
    <a href="/author">author</a>
    <ol type="1">
        <% var i = 0
            while( i < list.length) { %>
            <li><a href="/page/<%= list[i].id %>"><%= list[i].title %></a></li>
            <% i++ } %>
    </ol>
    <%- menu %>
    <%- body %>
    
</body>
</html>