<h1>공지사항</h1>
<table class="table table-bordered border-primary">
    <thead><td>작성자</td><td>제목</td><td>날짜</td></thead> 
    
    <tr><td>고객1</td><td><a href="#" style="text-decoration: none;">리뉴얼</a></td><td>0000.00.00</td></tr>
       
</table>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
   <a href="#"> <button type="button" class="btn btn-info me-md-2">글쓰기</button> </a>
</div>

<% var j = 1;
while (j <= totalPages) {
    if(j == pNum){ %>
        <span style="font-weight : bold;"><%=j%></span> &nbsp;&nbsp;
    <% } else { %>
        <span><a href="/board/view/<%=btname[0].type_id%>/<%=j%>"><%=j%></a></span> &nbsp;&nbsp;
    <% }
        j++
} %>
