<% if (values.length === 0){ %>
    <p>자료가 없으니 추가해 주십시오. </p>
<%}else{%>
<h2><%= columns[0].TABLE_NAME%> 자료 목록</h2>
<table class="table table-bordered border-primary table-hover" style="text-align: center;">
    <thead class="table-primary ">
    <% for (var i = 0; i< columns.length; i++){%>
        <th><%= columns[i].COLUMN_COMMENT %></th>
    <%}%>
        <th colspan="3"></th>
    </thead>
    <% for (var i = 0; i<values.length; i++){%>
        <tr>
            <% for (var j = 0; j<columns.length; j++){%>
                <td><%= values[i][columns[j].COLUMN_NAME] %></td>
            <%}%>
            <td><a href="#" style="text-decoration: none;">생성</a></td>
            <td><a href="#" style="text-decoration: none;">수정</a></td>
            <td><a href="#" style="text-decoration: none;">삭제</a></td>
        </tr>
    <% }%>
</table>
<%}%>