<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEB1 - </title>
</head>
<body>
    <h1><a href="/">WEB</a></h1>
    <a href="/AUTHOR">author</a>
    
    <%- list %>

    <h3><a href="/">홈으로가기</a></h3>
</body>
</html>